<aside class="app-comments row">
  <h2 class="span12">Discussion</h2>

  <div class="span12">
    <%= render 'comments/new_comment_form' %>
  </div>
    
  <div class="span12">
    <%= render 'comments/comment_collection', :comments => @all_comments %>
  </div>

</aside>
