<div class="app-rank-arrows">
  <a class="rank-btn rank-btn--up">
    <i class="icon-chevron-up"></i>
  </a>

  <span class="rank-count">
    123
  </span>

  <a class="rank-btn rank-btn--down">
    <i class="icon-chevron-down"></i>
  </a>
</div>