<% # -------------------------------------------------- # %>
<% # Item Introduction %>

<section>
  <h1>
      <%= link_to @item.name, @item %>
  </h1>

  <%= render "item-rank" %>

  <%= @item.description %>
</section>

<%= render "comments" %>
