// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-comments {
    margin-bottom: 2rem;
}

.comment {
    + .comment {
        margin-top: 1rem;
    }

    footer {
        
    }

    footer a {
        margin-right: 10px;
    }
}

.new_comment {
    textarea {
        width: 100%;
    }
}