@import 'bootstrap';

// -----------------------------------------------------------------------------
// General

html, body {
  height: 100%;
}

.push {
  height: 60px;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// App Header

.apphead {
  .nav-link {
    float: right;
    
    margin-left: 1em;
    
    color: white;
    line-height: 3em;
  }

  .container {
    position: relative;
    left: -20px;

    width: 940px;
  }
  
  .navbar-inner {
    margin: 0;
    width: 100%;
    
    border-radius: 0;
  }
}

// -----------------------------------------------------------------------------
// App Body

.app {
    padding: 0 20px;
}

// -----------------------------------------------------------------------------
// App Footer

.appfoot {
  background: #f5f5f5;
  
  height: 60px;
  padding: 0 20px;
  overflow: hidden;
  
  .credit {
    margin: 20px 0;
  }

  img {
    float: right;
    
    max-height: 20px;
  }
}